<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flea.board">

  <select id="selectBycategoty" parameterType="map"
  	resultType="com.mento.model.BoardDTO">
    select * from Board
    where category = #{category:VARCHAR}
  </select>


</mapper>
